{% for item in items %}
	<div class="row">
		<h2>id: </h2> {{ item.id }}
        <h2>tytul:</h2> {{ item.tytul }}
        <h2>opis:</h2> {{ item.opis }}
        <h2>nazwa_dzielnicy:</h2> {{ item.nazwa_dzielnicy }}
        <h2>liczba_pokoi: </h2> {{ item.liczba_pokoi }}
        <h2>cena: </h2>{{ item.cena }}
        <h2>wspolrzedne_dl: </h2>{{ item.wspolrzedne_dl }}
		<h2>wspolrzedne_szer:</h2> {{ item.wspolrzedne_szer }}
        <h2>data_publikacji:</h2> {{ item.data_publikacji }}
	</div>
{% endfor %}

